@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,300);

body {
  font-family: 'Raleway', sans-serif;
}


div {
  alig
}


.clearfix:after {
  display: block;
  clear: both;
}

/*Header*/

#otis li {
    list-style-type: none;
}

#mypic {
  position: absolute;
  top: 600px;
  right: 500px;
  border: 3px solid #8AC007;
}


/* Nav Bar */

nav {
  width: 1024px;
  margin:0 auto;
  height: auto;
  background-color: black;
}

nav > div {
  float: left;
  padding: 10px 0;
  font-size: 25px;
}

nav > ul > li {
  float: right;
}

nav > ul > li > a {
  font-size: 12px;
  padding: 0 10px;
}

nav > ul > li > a:hover {
  background: red;
  color: blue;


/*Img Moving*/


    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #8AC007;
}
